@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#cf2425,  #da6163,  #da4448);
    background-repeat: no-repeat;
    display: flex;
    
}


.coca-cola {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1px;
    width: 0.5%;
    margin-left: 20%;
    margin-top: 20%;
}
.garrafa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4%;
    margin-right: 50%;
}
h2 {
color: white;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 25px;
display: flex;
text-align: center;
justify-content: center;
align-items: center;


}

p {
color: white;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
margin-left: 10% ;
margin-top: 2%;
}